{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "AWS CloudFormation: creates full Magento Setup with Autoscaling group, ELB, Cloudfront and so on",

  "Parameters" : {
    "TemplatesBucket" : {
      "Type" : "String",
      "Default" : "https://s3-us-west-2.amazonaws.com/epxlabs-magento-templates",
      "Description" : "Path to bucket with templates for setup",
      "ConstraintDescription" : "must be valid path to bucket with templates. Ex. https://s3-us-west-2.amazonaws.com/epxlabs-magento-templates"
    },

    "AZCount" : {
      "Description": "The number of availability zones to use for frontend servers",
      "Default": "1",
      "Type": "String",
      "AllowedValues": [ "1", "2", "3", "4", "5" ],
      "ConstraintDescription" : "must be valid value <= availability zones in region. Ex. 3. Try to check https://github.com/jsonmaur/aws-regions"
    },

    "Subnet2oct" : {
      "Description": "2 first octets of VPC Subnet",
      "Default": "10.0",
      "Type": "String",
      "ConstraintDescription" : "must be x.y Ex. 10.0"
    }
  },

  "Conditions": {
    "AZCount5": { "Fn::Equals" : [ { "Ref" : "AZCount" }, "5" ] },
    "AZCount4": { "Fn::Or" : [ { "Fn::Equals" : [ { "Ref" : "AZCount" }, "4" ] }, { "Condition" : "AZCount5" } ] },
    "AZCount3": { "Fn::Or" : [ { "Fn::Equals" : [ { "Ref" : "AZCount" }, "3" ] }, { "Condition" : "AZCount4" } ] },
    "AZCount2": { "Fn::Or" : [ { "Fn::Equals" : [ { "Ref" : "AZCount" }, "2" ] }, { "Condition" : "AZCount3" } ] }
  },

  "Resources" : {
    "VPCLayer01" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "Parameters" : {
          "Deploy" : { "Ref" : "AWS::StackName" },
          "VPCSubnet" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "0.0/16" ] ] },
          "VPCInternalDomainName" : "lab.int"
        },
        "TemplateURL" : { "Fn::Join" : [ "", [ { "Ref" : "TemplatesBucket" }, "/nested/vpc.template" ] ] }
      }
    },

    "AZLayer01" : {
      "Type" : "AWS::CloudFormation::Stack",
      "DependsOn" : [ "VPCLayer01" ],
      "Properties" : {
        "Parameters" : {
          "Deploy" : { "Ref" : "AWS::StackName" },
          "VPC" : { "Fn::GetAtt" : [ "VPCLayer01", "Outputs.VPC" ] },
          "PublicSubnetRange" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "0.0/24" ] ] },
          "PrivateSubnetRange" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "1.0/24" ] ] },
          "SubnetAZ" : { "Fn::Select" : [ "0", { "Fn::GetAZs" : "" } ] },
          "InternetGateway" : { "Fn::GetAtt" : [ "VPCLayer01", "Outputs.InternetGateway" ] }
        },
        "TemplateURL" : { "Fn::Join" : [ "", [ { "Ref" : "TemplatesBucket" }, "/nested/az.template" ] ] }
      }
    },

    "AZLayer02" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Condition" : "AZCount2",
      "DependsOn" : [ "VPCLayer01" ],
      "Properties" : {
        "Parameters" : {
          "Deploy" : { "Ref" : "AWS::StackName" },
          "VPC" : { "Fn::GetAtt" : [ "VPCLayer01", "Outputs.VPC" ] },
          "PublicSubnetRange" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "2.0/24" ] ] },
          "PrivateSubnetRange" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "3.0/24" ] ] },
          "SubnetAZ" : { "Fn::Select" : [ "1", { "Fn::GetAZs" : "" } ] },
          "InternetGateway" : { "Fn::GetAtt" : [ "VPCLayer01", "Outputs.InternetGateway" ] }
        },
        "TemplateURL" : { "Fn::Join" : [ "", [ { "Ref" : "TemplatesBucket" }, "/nested/az.template" ] ] }
      }
    },

    "AZLayer03" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Condition" : "AZCount3",
      "DependsOn" : [ "VPCLayer01" ],
      "Properties" : {
        "Parameters" : {
          "Deploy" : { "Ref" : "AWS::StackName" },
          "VPC" : { "Fn::GetAtt" : [ "VPCLayer01", "Outputs.VPC" ] },
          "PublicSubnetRange" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "4.0/24" ] ] },
          "PrivateSubnetRange" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "5.0/24" ] ] },
          "SubnetAZ" : { "Fn::Select" : [ "2", { "Fn::GetAZs" : "" } ] },
          "InternetGateway" : { "Fn::GetAtt" : [ "VPCLayer01", "Outputs.InternetGateway" ] }
        },
        "TemplateURL" : { "Fn::Join" : [ "", [ { "Ref" : "TemplatesBucket" }, "/nested/az.template" ] ] }
      }
    },

    "AZLayer04" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Condition" : "AZCount4",
      "DependsOn" : [ "VPCLayer01" ],
      "Properties" : {
        "Parameters" : {
          "Deploy" : { "Ref" : "AWS::StackName" },
          "VPC" : { "Fn::GetAtt" : [ "VPCLayer01", "Outputs.VPC" ] },
          "PublicSubnetRange" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "6.0/24" ] ] },
          "PrivateSubnetRange" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "7.0/24" ] ] },
          "SubnetAZ" : { "Fn::Select" : [ "3", { "Fn::GetAZs" : "" } ] },
          "InternetGateway" : { "Fn::GetAtt" : [ "VPCLayer01", "Outputs.InternetGateway" ] }
        },
        "TemplateURL" : { "Fn::Join" : [ "", [ { "Ref" : "TemplatesBucket" }, "/nested/az.template" ] ] }
      }
    },

    "AZLayer05" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Condition" : "AZCount5",
      "DependsOn" : [ "VPCLayer01" ],
      "Properties" : {
        "Parameters" : {
          "Deploy" : { "Ref" : "AWS::StackName" },
          "VPC" : { "Fn::GetAtt" : [ "VPCLayer01", "Outputs.VPC" ] },
          "PublicSubnetRange" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "8.0/24" ] ] },
          "PrivateSubnetRange" : { "Fn::Join" : [ ".", [ { "Ref" : "Subnet2oct" }, "9.0/24" ] ] },
          "SubnetAZ" : { "Fn::Select" : [ "4", { "Fn::GetAZs" : "" } ] },
          "InternetGateway" : { "Fn::GetAtt" : [ "VPCLayer01", "Outputs.InternetGateway" ] }
        },
        "TemplateURL" : { "Fn::Join" : [ "", [ { "Ref" : "TemplatesBucket" }, "/nested/az.template" ] ] }
      }
    },

  }
}

